{% include "base.html.twig" %}
{% block title %}Modeles des cv</br></br></br>{% endblock %}{% block stylesheets %}<link rel="stylesheet" href="path-to/node_modules/mdi/css/materialdesignicons.min.css"/>{% endblock %}{% block body %}</br></br></br></br><div class="container-fluid"><div style="background-color: #f4f4f4;"><div class="container-fluid"><div class="card card-cascade wider reverse" style="background-color:white !important; margin-top:5%;"><div style="background-color:#4285f4; margin-top:-2%; width:30%; color:white; height:20%; text-align:center;margin-bottom: 20px;"><div style="padding:2%;">Modeles des curricurims vitae</div></div><section class="page-section portfolio" id="cv"><div class="container">
<!-- cv Section Heading-->
<!-- Icon Divider-->
	<div class="divider-custom"> <div class="divider-custom-line"></div>
	<div class="divider-custom-line"></div>
</div>
<!-- cv Grid Items-->
<div
	class="row justify-content-center">
	<!-- cv Item 4-->
	<div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
		<div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
			<img class="img-fluid" src="front-end/accueil/assets/img/portfolio/cv2.png" alt=""/>
		</div>
	</div>
	<!-- cv Item 5-->
	<div class="col-md-6 col-lg-4 mb-5 mb-md-0">
		<div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
			<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
				<img class="img-fluid" src="front-end/accueil/assets/img/portfolio/cv.png" alt=""/>
			</div>
		</div>
	</div>
	<!-- cv Item 6-->
	<div class="col-md-6 col-lg-4">
		<div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
			<img class="img-fluid" src="front-end/accueil/assets/img/portfolio/cv3.png" alt=""/>

		</div>
	</div>


</div></div></section></div></div></div></div>{% endblock %}
