{% include "base.html.twig" %}
{% block title %}liste des clients{% endblock %}


{% block body %}
</br></br></br></br>
<div class="container-fluid">
<div style="background-color: #f4f4f4;">
<div class="container-fluid">
<div class="card card-cascade wider reverse" style ="background-color:white !important; margin-top:5%;">
<div style="background-color:#4285f4; margin-top:-2%; width:30%; color:white; height:20%; text-align:center;"><div style="padding:2%;">client</div>
</div>
    <div class="card-body card-body-cascade text-center" >

<table class="table table-hover">

<thead>
<tr>

<td><strong>Nom</strong></td>
<td><strong>Prenom</strong></td>
<td><strong>Telephone</strong></td>
<td><strong>Adresse</strong></td>



</tr>
</thead>
<tbody>

<tr>
<td>{{ client.username }} </td>
<td>{{ client.prenom }} </td>
<td>{{ client.Telephone }} </td>
<td>{{ client.adress }} </td>

</td>

</tr> 

</tbody>

 </table></div></div></div></div></div>

{% endblock %}